{% extends 'layout.html' %}

{% block title %}
Train-Home
{% endblock %}

{% block body %}
<div class="features">
    <h1 style="color: darkblue">List Trains</h1>
    <div class="row">
        <div class="col-md">
            <table class="table table-striped">
                <thead>
                <tr style="color: darkslategray;">
                    <th scope="col">Номер поезда</th>
                    <th scope="col">Откуда</th>
                    <th scope="col">Куда</th>
                    <th scope="col">Время в пути</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in page_obj %}
                <tr>
                    <style>
                        a {
                            text-decoration: none;
                        }
                    </style>

                    <th>
                        <a href="{% url 'trains:detail' pk=obj.pk %}">{{obj.name}}</a>
                    </th>
                    <td>
                        <a href="{% url 'trains:from' pk=obj.from_city.pk %}" class="href">
                            {{obj.from_city}}
                        </a>
                    </td>
                    <td>
                        <a href="" class="href">
                            {{obj.to_city}}
                        </a>
                    </td>
                    <td>
                        {{obj.travel_time}}
                    </td>
                    <td>
                        <a href="{% url 'trains:update' pk=obj.pk %}" class="href">
                            <button type="submit" class="btn btn-primary">Редактировать</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'trains:delete' pk=obj.pk %}" class="href">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}" aria-current="page">
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
            </li>
            {% endfor %}

            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>


</div>
{% endblock %}