{% extends 'layout.html' %}

{% block title %}
Train-Home
{% endblock %}

{% block body %}
<div class="features">
    <h1>List Trains</h1>
    <div class="row">
        <div class="col-md">
            <table class="table table-striped">
                {% for obj in page_obj %}
                <tr>
                    <td>
                        <a style="text-decoration: none" href="{% url 'trains:detail' pk=obj.pk %}">{{obj.name}}</a>
                    </td>
                    <td>
                        {{obj.from_city}}
                    </td>
                    <td>
                        {{obj.to_city}}
                    </td>
                    <td>
                        {{obj.travel_time}}
                    </td>
                    <td>
                        <a href="{% url 'trains:update' pk=obj.pk %}" class="href">
                            <button type="submit" class="btn btn-primary">Редактировать</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'trains:delete' pk=obj.pk %}" class="href">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

        <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}" aria-current="page">
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
            </li>
            {% endfor %}

            <li class="page-item">
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>



</div>
{% endblock %}